@font-face {
	font-family: AirBnB;
	src: url(/fonts/AirbnbCerealLight.ttf);
  }

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    font-family: AirBnB;
    color: black;
}

th {
	font-weight: bold;
	background-color: rgb(232, 236, 241)
}

tr, td{
	font-size: 17px;
}

td.spaceInfo {
	padding-top: 25px;
	padding-bottom: 25px;
}

.cancel, .cancel:hover {
	background-color: red;
	color: white;
}

#cancelArea {
	text-align: center;
	padding-top: 18.4px;
	padding-right: 16px;
}

#errorMsg {
	color: black;
	text-align: center;
	margin: 0;
}