@font-face{
    font-family: Klavika;
    src: url(KlavikaBoldBoldOSF.otf);
}

#spacebookLabel {
    float: left;
    font-family: Klavika;
    font-size: 50px;
    margin-left: 10px;
    margin-bottom: 0;
    text-decoration: none;
    color: rgb(5, 112, 184);
}