<footer>

        <div class = "container-fluid padding">
            <div class = "row text-center">
                <div class = "col-md-4">
                    <img src="/logos/favicon.ico" alt="spacebook_logo" style="float: left; margin-left: 5.1rem;">
                    <p id = "spacebookLabel" style="color: white; float: left">Spacebook</p>
                    <div id = "col-1">
                        <hr class = "light">
                        <p>(+63)913-527-0649</p>
                        <p>spacebook@myspace.com</p>
                        <p>Emilio Aguinaldo street</p>
                        <p>San Pedro, Laguna, 4023</p>
                    </div>
                </div>
                <div class = "col-md-4">
                    <hr class = "light">
                    <h5>Our Hours</h5>
                    <hr class = "light">
                    <p>Monday: 9am - 5pm</p>
                    <p>Saturday: 10am - 4pm</p>
                    <p>Sunday: Closed</p>
                </div>
                <div class = "col-md-4">
                    <hr class = "light">
                    <h5>Service Area</h5>
                    <hr class = "light">
                    <p>Binan, Laguna, 4024</p>
                    <p>Cabuyao, Laguna, 4025</p>
                    <p>Santa Rosa, Laguna, 4026</p>
                    <p>Calamba, Laguna, 4027</p>
                    <p>Canlubang, Laguna, 4028</p>
                </div>
          <div class = "col-12">
            <hr class = "light-100">
            <h5>&copy;X22_WEBAPDE_2019</h5>
            <!--This copyright is intended solely for design purposes.-->
        </div>
    </div>
</footer>