<ul class = "menu">
        <li><a href = "home.html">Home</a></li>
        <li><a href = "http://localhost:9090/viewspaces">View All Spaces</a></li>
        <li><a href = "http://localhost:9090/reservation">Reservations</a></li>
        <li style = "float: right; border-left: 1px solid #bbb" id = "logout"><a>Logout</a></li>
  </ul>
  <script>
  	$(document).ready(function() {
  		$("#logout").click(function(){
                  $.ajax({
                        url: "http://localhost:9090/logout",
                        success: function (){
                              location.replace("http://localhost:9090/login");
                        }
                  });
  		});
  	});
 </script>