<div class = "container">
	<div class = "row">
		<div class = "col-sm-6">
			<div class = "form-group">
				<div class = "input-group date" id = "datePicker" data-target-input= "nearest">
					<input id = "selectedDate" type = "text" class = "form-control datetimepicker-input" data-target="#datePicker" readonly/>
					<div class = "input-group-append" data-target="#datePicker" data-toggle = "datetimepicker">
						<div class = "input-group-text"><i class="far fa-calendar-alt"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type = "button" id = "reserveSubmit" value = "Reserve" disabled> </input>
<script>
		getReservedDates("{{_id}}");
		setUpReserve("{{_id}}", "{{locationName}}");
</script>