<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Spacebook</title>
    <link rel = "shortcut icon" media = "all" type = "image/png" href = "/logos/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" media = "all" type="text/css" href="/css/home.css">
</head>
<body>
    {{{body}}}

</body>
</html>