<html>
<head>
	<script src = "/libs/jquery-3.4.1.min.js" type = "text/javascript"> </script>
	<script src = "/libs/bootstrap/bootstrap.min.js" type = "text/javascript"> </script>
	<script src = "/libs/cancelLib.js" type = "text/javascript"> </script>
	<link rel="stylesheet" media = "all" type="text/css" href="/css/reservation.css">
	<link rel="stylesheet" media = "all" type="text/css" href="/css/view.css">
	<link rel="stylesheet" media = "all" type="text/css" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
	{{>navbar notificationPage=true}}
<table>
	<tr>
		<th> Status </th>
        <th> Notification </th>
	</tr>
	{{#each notifications}}
		<tr>
			<td> {{checked}} </td>
            <td> {{{notification}}} </td>
		</tr>
	{{/each}}
</table>

</body>
</html>